
body{  
    background-image: url(backg.jpg);
    background-size:100% 150%;
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Harrington', cursive;
    font-size: 20px;
    font-weight: 50px;
    text-align:center;
    text-shadow: 0 0 15px #ff6ec7;
    text-size-adjust: bold;
    text-color: #FFD700;
   }
#animated{
     animation-name: move;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
   }
#characteristic {
     margin: auto;
     width: 60%;
     color:rgb(255, 255, 0);
     padding: 21px;
   }
#space{
     font-size:25px;
   }
a.button {
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%);
    border-radius: 7px;
    margin-bottom:70px;
    box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: gainsboro;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 6px 22px;
    text-decoration: none;
    -webkit-transition: box-shadow 3s ease;
    transition: box-shadow 3s ease;
   }
a.button:hover {
    box-shadow: 0px 4px 4px rgba(33,62,66,.5);
    -webkit-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease; 
   }
